html, body {
    font-family: 'myriad_procondensed', Helvetica, sans-serif;
}

p {
    line-height: 1.1em;
    margin: 0 0 5px 0;
    padding: 0;
}

address {
    font-style: normal;
}

#header, #main, #footer {
    min-width: 1280px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    margin: 0 auto;
    position: relative;
    min-width: 998px;
    width: 998px;
}

.text-bg {
    background: url(../img/text-bg.png) no-repeat;
    margin: 0;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
}

.text-color-blue {
    color: #2e3192;
}

.text-color-dark-gray {
    color: #59595b;
}

.text-color-black {
    color: #000;
}

.text-color-lightpink {
    color: #ff9966;
}

.text-bold {
    font-weight: bold;
}

.list {
    list-style: disc none outside;
    margin: 0 0 5px 15px;
    padding: 0 15px;
}

.list-item {
    color: #ff9966;
    font-size: 0.9em;
}

[class*="-content"] p {
    font-size: 1.1em;
    line-height: 1.1em;
    margin: 5px 0;
}
/* Header */

#header {
    background: #fff url(../img/header-border.jpg) repeat-x 0 100%;
    padding-bottom: 5px;
    z-index: 6;
}

.parallax #header {
    left: 0;
    position: fixed;
    top: 0;
}

#nav {
    padding-top: 25px;
}

    #nav .logo-wrap {
        margin: 0;
        padding: 0;
    }

    #nav .navbar {
        border-bottom: 2px solid #2e3192;
        margin-top: 20px;
        padding-bottom: 10px;
    }

.navbar li {
    display: inline-block;
}

.navbar .nav-item {
    font-size: 1.2em;
    padding: 0 18px 0 12px;
}

    .navbar li:hover .nav-item, .navbar li:focus .nav-item, .navbar li.active .nav-item {
        color: #2e3192;
		cursor: pointer;
    }

.navbar li:last-child .nav-item {
    padding-right: 0;
}

.navbar .home {
    background: url(../img/icons.png) no-repeat 0 0;
    display: block;
    height: 20px;
    margin: 0 12px;
    padding: 0;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 21px;
}

/* Main */

#main .section {
    overflow: hidden;
}

#intro {
    background: url(../img/intro-bg.jpg) 50% 0 no-repeat fixed;
    height: 948px;
    padding-top: 112px;
    z-index: 1;
}

    #intro .intro-content {
        margin: 150px 0 0 575px;
        width: 382px;
    }

    #intro .intro-title {
        display: block;
        height: 120px;
        margin: 0 0 10px 0;
        width: 382px;
    }

    #intro .highlight {
        border-left: 1px solid #59595b;
        font-size: 2.5em;
        margin: 0;
        padding: 0 0 5px 5px;
    }

    #intro .line2 {
        font-size: 1.75em;
        line-height: 1em;
        margin-bottom: 10px;
    }

    #intro .intro-link {
        background-color: #2e3192;
        color: #fff;
        display: inline-block;
        font-size: 1.2em;
        margin-top: 10px;
        padding: 5px 15px;
        width: 90px;
    }

#who-exhibits {
    background: url(../img/exhibit-bg.jpg) 50% 0 no-repeat fixed;
    height: 918px;
    position: relative;
    z-index: 2;
}

    #who-exhibits .exhibits-content {
        margin: 140px 0 0 560px;
        width: 395px;
    }

    #who-exhibits .exhibits-title {
        background-position: 0 -120px;
        height: 107px;
        margin-bottom: 5px;
        width: 372px;
    }

    #who-exhibits p {
        margin: 0 0 5px 0;
        padding: 0 15px;
    }

        #who-exhibits p:first-of-type {
            border-top: 1px solid #ff9f6f;
            padding-top: 14px;
            text-align: justify;
        }

    #who-exhibits .exhibits-text-highlight {
        background: #dc7145;
        color: #fff;
        line-height: 1em;
        padding: 5px 10px;
    }

    #who-exhibits .line1 {
        font-size: 1.2em;
		display: inline-block;
		max-width: 180px;
    }

    #who-exhibits .line2 {
        font-size: 1.5em;
		height: auto;
		display: block;
        width: 305px;
    }

    #who-exhibits .exhibits-img {
        background: url(../img/exhibits-imgs.jpg) no-repeat;
        height: 327px;
        left: 0;
        position: absolute;
        top: 252px;
        width: 545px;
    }

#visitor {
    background: url(../img/visitor-detail-bg.jpg) 0 0 no-repeat;
    height: 804px;
    position: relative;
    z-index: 3;
}

.parallax #visitor {
    background: url(../img/visitor-bg.jpg) 50% 0 no-repeat fixed;
}

    .parallax #visitor .visitor-content {
        margin: 155px 0 0 0;
        width: 380px;
    }

#visitor .visitor-content {
    margin: 25px 0 0 0;
    width: 380px;
}

#visitor .visitor-title {
    background-position: 0 -227px;
    height: 103px;
    margin-bottom: 20px;
    width: 378px;
}

#visitor .visitor-title-2 {
    background-position: 0 -606px;
    height: 74px;
    margin-bottom: 5;
    width: 270px;
}

#visitor .visitor-link {
    background-color: #ff9966;
    color: #fff;
    display: block;
    font-size: 1.25em;
    margin-top: 10px;
    padding: 5px 15px;
    width: 65px;
}

#visitor .visitor-img-container {
    background: url(../img/visitor-imgs.jpg) no-repeat;
    height: 525px;
    margin-top: 150px;
    position: relative;
    width: 540px;
}

.parallax #visitor .visitor-img-container {
    height: 490px;
    width: 500px;
}

#about {
    background: url(../img/about-bg.jpg) 50% 0 no-repeat fixed;
    height: 849px;
    position: relative;
    z-index: 4;
}

    #about .about-content {
        margin-top: 135px;
    }

.about-content .content-left {
    margin-top: 25px;
    width: 480px;
}

    .about-content .content-left .about-title, 
    #about-detail .about-title {
        background-position: 0 -465px;
        font-size: 2.5em;
        height: 73px;
        margin: 0 0 10px 0;
        padding: 0 0 0 73px;
        position: relative;
        width: 235px;
    }

        .about-content .content-left .about-title:after,
        #about-detail .about-title:after {
            background: url(../img/logo_ubm.png) no-repeat 0 0;
            content: "";
            display: block;
            height: 72px;
            position: absolute;
            top: 0;
            right: 0;
            width: 57px;
        }

.about-content .content-right {
    width: 380px;
}

    .about-content .content-right .about-title {
        background-position: 0 -330px;
        height: 133px;
        width: 377px;
    }

.about-content .about-img {
    -moz-border-radius: 15px;
    -ms-radius: 15px;
    -o-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

.about-content p {
    font-size: 1.1em;
    margin-bottom: 25px;
    text-align: justify;
}

.about-content .readmore {
    color: #000;
}

/* Footer */
#footer {
    background-color: #24151b;
    color: #fff;
    padding: 10px 0;
}

    #footer p {
        font-size: 0.8em;
        margin: 5px 0 0 0;
    }

/* Home detail */

.home-detail-top {
    background: #ff9966 url(../img/home-detail-top-bg.jpg) no-repeat 100% 100%;
    color: #fff;
    min-height: 318px;
    padding: 20px 0;
}

    .home-detail-top .content-left {
        position: relative;
        width: 501px;
    }

    .home-detail-top .content-right {
        margin-top: 50px;
        width: 320px;
    }


    .home-detail-top .content-left .exhibit-text {
        background-color: #fffbd0;
        color: #dc7145;
        display: block;
        height: 37px;
        line-height: 37px;
        margin: 0;
        position: absolute;
        right: -60px;
        text-align: center;
    }

    .home-detail-top .content-left .exhibit-date {
        bottom: 35px;
        font-size: 1.8em;
        width: 189px;
    }

    .home-detail-top .content-left .exhibit-location {
        bottom: -10px;
        font-size: 1.6em;
        width: 454px;
    }

    .home-detail-top .content-right .main-title {
        background-position: 0 -539px;
        height: 68px;
        margin: 5px 0;
        width: 357px;
    }

    .home-detail-top .content-right .sub-title-up {
        font-size: 1.3em;
        font-weight: lighter;
        margin: 0;
        text-align: right;
    }

    .home-detail-top .content-right p {
        font-size: 1.1em;
        line-height: 1.2em;
        margin: 0;
        text-align: justify;
    }

.home-detail-bottom {
    color: #000;
}

    .home-detail-bottom .title {
        border-bottom: 1px solid #2e3192;
        font-size: 2.5em;
        margin: 0 0 10px 0;
        padding-bottom: 0 0 5px 0;
    }

    .home-detail-bottom p {
        font-size: 1em;
        line-height: 1.1em;
        margin: 0 0 5px 0;
        text-align: justify;
    }

    .home-detail-bottom .list {
        margin: 0 0 20px 5px;
    }

    .home-detail-bottom .list-item {
        font-size: 1em;
        color: #000;
    }

    .home-detail-bottom [class*="content-"] {
        height: 335px;
        padding-bottom: 200px;
        position: relative;
        width: 475px;
    }

    .home-detail-bottom [class*="img-bottom-"] {
        border: 1px solid #616163;
        bottom: 30px;
        position: absolute;
    }

    .home-detail-bottom .img-bottom-1 {
        left: 0;
    }

    .home-detail-bottom .img-bottom-2 {
        right: 0;
    }

/* contact us */
#contact {
    background: url(../img/contact-detail-bg.jpg) no-repeat 0 0;
    height: 715px;
}

#contact .title {
    border-bottom: 1px solid #59595b;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

#contact .contact-info {
    color: #59595b;
    padding: 0 30px 0 15px;
    width: 235px;
}

#contact .form {
    border-left: 1px solid #59595b;
    padding: 0 0 0 40px;
    width: 675px;
}

.contact-info .company-name {
    font-size: 1.2em;
}

.contact-info [class*="company-"]:before {
    font-family: 'myriad_probold_condensed', Helvetica, sans-serif;
}

.contact-info .gap {
    margin-bottom: 20px;
}

.contact-info .company-address:before {
    content: "Address: ";
}

.contact-info .company-tel:before {
    content: "Tel: ";
}

.contact-info .company-fax:before {
    content: "Fax: ";
}

.contact-info .company-email:before {
    content: "Email: ";
}

.contact-info .indent {
    padding-left: 38px;
}

.contact-info .company-person:before {
    content: "Contact person: ";
}

.form .question {
    font-size: 1.2em;
}

/* Form Control */

.control {
    background: none;
    border: none;
}

.lbl {
    color: #566381;
}

.required:after {
    content: " (required)";
    font-style: italic;
}

.input-text, .text-field {
    background-color: #f8f8f8;
    border: 1px solid #ebebeb;
}

.input-text {
    height: 25px;
    line-height: 25px;
    width: 305px;
}

.text-field {
    height: 100px;
    width: 100%;
}

.btn {
    background-color: #cf1e38;
    border-color: #e4808f;
    color: #fff;
    font-size: 0.9em;
    height: 29px;
    letter-spacing: 0.5px;
    line-height: 29px;
    padding: 0 15px;
    text-transform: uppercase;
}

.gap-bottom {
    margin-bottom: 20px;
}
.gap-right {
    margin-right: 25px;
}
.table-form {
    border-collapse: separate;
}

/* about us */
#about-detail {
    background: url(../img/about-detail-bg-left.jpg) no-repeat left bottom, url(../img/about-detail-bg-right.jpg) no-repeat right top;
    min-height: 768px;
    color: #59595b;
    transition: height .5s ease;
    -moz-transition: height .5s ease;
    -ms-transition: height .5s ease;
    -o-transition: height .5s ease;
    -webkit-transition: height .5s ease;
}

#about-detail .nav-tabs {
    border-bottom: 1px solid #a9a9a9;
    margin: 65px 0 0 0;
    padding: 0 0 0 10px;
}

#about-detail .nav-tabs li {
    display: inline-block;
}

#about-detail .nav-tabs .active {
    margin-bottom: -1px;   
}

#about-detail .tab-item {
    background-color: #eee;
    border: 1px solid #a9a9a9;
    color: #59595b;
    font-size: 0.85em;
    margin-right: 5px;
    padding: 5px 15px 2px 15px;
}

#about-detail .nav-tabs .active .tab-item {
    background-color: #fff;
    border-bottom-color: transparent;
    border-top-color: #2e3192;
}

.tab-content .tab-pane {
    display: none;
    overflow: hidden;
}

.tab-content .active {
	display: block;
	text-align: justify;
}

.fade {
    transition: opacity .25s linear;
    -moz-transition: opacity .25s linear;
    -ms-transition: opacity .25s linear;
    -o-transition: opacity .25s linear;
    -webkit-transition: opacity .25s linear;
    opacity: 0;
}

.in {
    opacity: 1;
}

#about-detail .about-title {
    margin: 35px 0 25px 0;
}

#about-detail .gap-bottom {
    margin-bottom: 25px;
}

#about-detail .why-thailand-content {
    padding-top: 95px;
}

#about-detail .why-thailand-img {
    margin: 0 80px 200px 0;
    overflow: hidden;
    width: 460px;
}

.why-thailand-content .about-title-whythailand {
    background-position: 0 -784px;
    height: 133px;
    margin-left: -10px;
    width: 389px;
}

.why-thailand-content p,
.about-thailand-content p {
    font-size: 1em;
    margin: 0 0 5px 0;
    text-align: justify;
}

#about-detail .about-thailand-content {
    padding-top: 20px;
}

.about-thailand-content .about-thailand-title {
    background-position: 0 -680px;
    height: 103px;
    margin: 0 0 20px 450px;
    width: 460px;
}

.about-thailand-content .content-left {
    margin: 0 105px 0 15px;
    width: 430px;
}

.about-thailand-content .content-right {
    width: 430px;
}


.about-thailand-content .name {
    font-size: 1.65em;
    margin: 0 0 5px 0;
}

.about-thailand-content .list {
    margin: 0 0 5px 10px;
    padding: 0 5px;
}

.about-thailand-content li {
    color: #59595b;
}

.about-thailand-content .sub-list-item:before {
    color: #59595b;
    content: "-  ";
}
