html, body {
    font-family: 'myriad_procondensed', Helvetica, sans-serif;
}

p {
    line-height: 1.1em;
    margin: 0 0 5px 0;
    padding: 0;
}

#header, #main, #footer {
    min-width: 1280px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    margin: 0 auto;
    position: relative;
    min-width: 998px;
    width: 998px;
}

.text-bg {
    background: url(../img/text-bg.png) no-repeat;
    margin: 0;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
}

.text-color-blue {
    color: #2e3192;
}

.text-color-dark-gray {
    color: #59595b;
}

.text-color-black {
    color: #000;
}

.text-color-lightpink {
    color: #ff9966;
}

.text-bold {
    font-weight: bold;
}

.list {
    list-style: disc none outside;
    margin: 0 0 20px 15px;
    padding: 0 15px;
}

.list-item {
    color: #ff9966;
    font-size: 0.9em;
}

[class*="-content"] p {
    font-size: 1.2em;
    line-height: 1.1em;
    margin: 5px 0;
}
/* Header */

#header {
    padding-bottom: 5px;
    z-index: 6;
}

body.parallax #header {
    background: #fff url(../img/header-border.jpg) repeat-x 0 100%;
    left: 0;
    position: fixed;
    top: 0;
}

#nav {
    padding-top: 25px;
}

    #nav .logo-wrap {
        margin: 0;
        padding: 0;
    }

    #nav .navbar {
        border-bottom: 2px solid #2e3192;
        margin-top: 20px;
        padding-bottom: 10px;
    }

.navbar li {
    display: inline-block;
}

.navbar .nav-item {
    font-size: 1.2em;
    padding: 0 18px 0 12px;
}

    .navbar .nav-item:hover, .navbar .nav-item:focus, .navbar .nav-item.active {
        color: #2e3192;
    }

.navbar li:last-child .nav-item {
    padding-right: 0;
}

.navbar .home {
    background: url(../img/icons.png) no-repeat 0 0;
    display: block;
    height: 20px;
    margin: 0 12px;
    padding: 0;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 21px;
}

/* Main */

#main .section {
    overflow: hidden;
}

#intro {
    background: url(../img/intro-bg.jpg) 50% 0 no-repeat fixed;
    height: 948px;
    padding-top: 112px;
    z-index: 1;
}

    #intro .intro-content {
        margin: 150px 0 0 575px;
        width: 382px;
    }

    #intro .intro-title {
        display: block;
        height: 120px;
        margin: 0 0 10px 0;
        width: 382px;
    }

    #intro .highlight {
        border-left: 1px solid #59595b;
        font-size: 2.5em;
        margin: 0;
        padding: 0 0 5px 5px;
    }

    #intro .line2 {
        font-size: 1.75em;
        line-height: 1em;
        margin-bottom: 10px;
    }

    #intro .intro-link {
        background-color: #2e3192;
        color: #fff;
        display: block;
        font-size: 1.5em;
        margin-top: 10px;
        padding: 5px 15px;
        width: 90px;
    }

#who-exhibits {
    background: url(../img/exhibit-bg.jpg) 50% 0 no-repeat fixed;
    height: 918px;
    position: relative;
    z-index: 2;
}

    #who-exhibits .exhibits-content {
        margin: 120px 0 0 560px;
        width: 395px;
    }

    #who-exhibits .exhibits-title {
        background-position: 0 -120px;
        height: 107px;
        margin-bottom: 5px;
        width: 372px;
    }

    #who-exhibits p {
        margin: 0 0 5px 0;
        padding: 0 15px;
    }

        #who-exhibits p:first-of-type {
            border-top: 1px solid #ff9f6f;
            padding-top: 14px;
            text-align: justify;
        }

    #who-exhibits .exhibits-text-highlight {
        background: #dc7145;
        color: #fff;
        font-size: 1.7em;
        line-height: 1em;
        display: block;
        padding: 5px 10px;
    }

    #who-exhibits .line1 {
        width: 180px;
    }

    #who-exhibits .line2 {
        height: auto;
        width: 305px;
    }

    #who-exhibits .exhibits-img {
        background: url(../img/exhibits-imgs.jpg) no-repeat;
        position: absolute;
    }

    #who-exhibits .el1 {
        background-position: 0 0;
        height: 108px;
        left: 0;
        top: 232px;
        width: 265px;
    }

    #who-exhibits .el2 {
        background-position: -265px 0;
        height: 217px;
        left: 265px;
        top: 232px;
        width: 132px;
    }

    #who-exhibits .el3 {
        background-position: -397px 0;
        height: 298px;
        left: 397px;
        top: 232px;
        width: 148px;
    }

    #who-exhibits .el4 {
        background-position: 0 -108px;
        height: 219px;
        left: 0;
        top: 339px;
        width: 131px;
    }

    #who-exhibits .el5 {
        background-position: -131px -108px;
        height: 109px;
        left: 131px;
        top: 339px;
        width: 134px;
    }

    #who-exhibits .el6 {
        background-position: -131px -217px;
        height: 110px;
        left: 131px;
        top: 463px;
        width: 266px;
    }

    #who-exhibits .el7 {
        background-position: -397px -299px;
        height: 29px;
        left: 398px;
        top: 545px;
        width: 148px;
    }

#visitor {
    background: url(../img/visitor-bg.jpg) 50% 0 no-repeat fixed;
    height: 981px;
    position: relative;
    z-index: 3;
}

    #visitor .visitor-content {
        margin: 195px 0 0 0;
        width: 380px;
    }

    #visitor .visitor-title {
        background-position: 0 -227px;
        height: 103px;
        margin-bottom: 20px;
        width: 378px;
    }

    #visitor .visitor-link {
        background-color: #ff9966;
        color: #fff;
        font-size: 1.25em;
        padding: 5px 15px;
    }

    #visitor .visitor-img-container {
        background-color: #d5d1bd;
        height: 490px;
        margin-top: 175px;
        position: relative;
        width: 500px;
    }

    #visitor .visitor-img {
        background: url(../img/visitor-imgs.jpg) no-repeat;
        top: 0;
        position: absolute;
    }

    #visitor .el1 {
        background-position: 0 0;
        height: 276px;
        left: 0;
        width: 93px;
    }

    #visitor .el2 {
        background-position: -99px 0;
        height: 276px;
        left: 99px;
        width: 96px;
    }

    #visitor .el3 {
        background-position: -202px 0;
        height: 276px;
        left: 202px;
        width: 95px;
    }

    #visitor .el4 {
        background-position: -305px 0;
        height: 276px;
        left: 305px;
        width: 94px;
    }

    #visitor .el5 {
        background-position: 100% 0;
        height: 276px;
        left: 407px;
        width: 94px;
    }

    #visitor .el6 {
        background-position: 0 -281px;
        height: 209px;
        left: 0px;
        top: 281px;
        width: 297px;
    }

    #visitor .el7 {
        background-position: 100% -281px;
        height: 209px;
        left: 305px;
        top: 281px;
        width: 196px;
    }

#about {
    background: url(../img/about-bg.jpg) 50% 0 no-repeat fixed;
    height: 849px;
    position: relative;
    z-index: 4;
}

    #about .about-content {
        margin-top: 135px;
    }

.about-content .content-left {
    margin-top: 25px;
    width: 480px;
}

    .about-content .content-left .about-title {
        background-position: 0 -465px;
        font-size: 2.5em;
        height: 73px;
        margin: 0 0 10px 0;
        padding: 0 0 0 73px;
        position: relative;
        width: 235px;
    }

        .about-content .content-left .about-title:after {
            background: url(../img/logo_ubm.png) no-repeat 0 0;
            content: "";
            display: block;
            height: 72px;
            position: absolute;
            top: 0;
            right: 0;
            width: 57px;
        }

.about-content .content-right {
    width: 380px;
}

    .about-content .content-right .about-title {
        background-position: 0 -330px;
        height: 133px;
        width: 377px;
    }

.about-content .about-img {
    -moz-border-radius: 15px;
    -ms-radius: 15px;
    -o-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

.about-content p {
    font-size: 1.1em;
    margin-bottom: 25px;
    text-align: justify;
}

.about-content .readmore {
    color: #000;
}

/* Footer */
#footer {
    background-color: #24151b;
    color: #fff;
    padding: 10px 0;
}

    #footer p {
        font-size: 0.8em;
        margin: 5px 0 0 0;
    }

/* Home detail */

.home-detail-top {
    background-color: #ff9966;
    color: #fff;
    min-height: 318px;
    padding: 20px 0;
}

    .home-detail-top .content-left {
        position: relative;
        width: 501px;
    }

    .home-detail-top .content-right {
        margin-top: 50px;
        width: 320px;
    }


    .home-detail-top .content-left .exhibit-text {
        background-color: #fffbd0;
        color: #dc7145;
        display: block;
        height: 37px;
        line-height: 37px;
        margin: 0;
        position: absolute;
        right: -60px;
        text-align: center;
    }

    .home-detail-top .content-left .exhibit-date {
        bottom: 35px;
        font-size: 1.8em;
        width: 189px;
    }

    .home-detail-top .content-left .exhibit-location {
        bottom: -10px;
        font-size: 1.6em;
        width: 454px;
    }

    .home-detail-top .content-right .main-title {
        background-position: 0 -539px;
        height: 68px;
        margin: 5px 0;
        width: 357px;
    }

    .home-detail-top .content-right .sub-title-up {
        font-size: 1.3em;
        font-weight: lighter;
        margin: 0;
        text-align: right;
    }

    .home-detail-top .content-right p {
        font-size: 1.1em;
        line-height: 1.2em;
        margin: 0;
        text-align: justify;
    }

.home-detail-bottom {
    color: #000;
}

    .home-detail-bottom .title {
        border-bottom: 1px solid #2e3192;
        font-size: 2.5em;
        margin: 0 0 10px 0;
        padding-bottom: 0 0 5px 0;
    }

    .home-detail-bottom p {
        font-size: 1em;
        line-height: 1.1em;
        margin: 0 0 5px 0;
        text-align: justify;
    }

    .home-detail-bottom .list {
        margin: 0 0 20px 5px;
    }

    .home-detail-bottom .list-item {
        font-size: 1em;
        color: #000;
    }

    .home-detail-bottom [class*="content-"] {
        height: 335px;
        padding-bottom: 200px;
        position: relative;
        width: 475px;
    }

    .home-detail-bottom [class*="img-bottom-"] {
        border: 1px solid #616163;
        bottom: 30px;
        position: absolute;
    }

    .home-detail-bottom .img-bottom-1 {
        left: 0;
    }

    .home-detail-bottom .img-bottom-2 {
        right: 0;
    }
