@font-face {
    font-family: 'myriad_procondensed_italic';
    src: url('../fonts/myriadpro-condit-webfont.eot');
    src: url('../fonts/myriadpro-condit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro-condit-webfont.woff') format('woff'),
         url('../fonts/myriadpro-condit-webfont.ttf') format('truetype'),
         url('../fonts/myriadpro-condit-webfont.svg#myriad_procondensed_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myriad_proitalic';
    src: url('../fonts/myriadpro-it-webfont.eot');
    src: url('../fonts/myriadpro-it-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro-it-webfont.woff') format('woff'),
         url('../fonts/myriadpro-it-webfont.ttf') format('truetype'),
         url('../fonts/myriadpro-it-webfont.svg#myriad_proitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myriad_proregular';
    src: url('../fonts/myriadpro-regula-webfont.eot');
    src: url('../fonts/myriadpro-regula-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro-regula-webfont.woff') format('woff'),
         url('../fonts/myriadpro-regula-webfont.ttf') format('truetype'),
         url('../fonts/myriadpro-regula-webfont.svg#myriad_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myriad_proBdCnIt';
    src: url('../fonts/myriadpro-boldcondit-webfont.eot');
    src: url('../fonts/myriadpro-boldcondit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro-boldcondit-webfont.woff') format('woff'),
         url('../fonts/myriadpro-boldcondit-webfont.ttf') format('truetype'),
         url('../fonts/myriadpro-boldcondit-webfont.svg#myriad_proBdCnIt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myriad_probold_italic';
    src: url('../fonts/myriadpro-boldit-webfont.eot');
    src: url('../fonts/myriadpro-boldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro-boldit-webfont.woff') format('woff'),
         url('../fonts/myriadpro-boldit-webfont.ttf') format('truetype'),
         url('../fonts/myriadpro-boldit-webfont.svg#myriad_probold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myriad_procondensed';
    src: url('../fonts/myriadpro-con-webfont.eot');
    src: url('../fonts/myriadpro-con-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro-con-webfont.woff') format('woff'),
         url('../fonts/myriadpro-con-webfont.ttf') format('truetype'),
         url('../fonts/myriadpro-con-webfont.svg#myriad_procondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'myriad_problack';
    src: url('../fonts/myriadpro-black_opentype-webfont.eot');
    src: url('../fonts/myriadpro-black_opentype-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro-black_opentype-webfont.woff') format('woff'),
         url('../fonts/myriadpro-black_opentype-webfont.ttf') format('truetype'),
         url('../fonts/myriadpro-black_opentype-webfont.svg#myriad_problack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myriad_probold';
    src: url('../fonts/myriadpro-bold-webfont.eot');
    src: url('../fonts/myriadpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro-bold-webfont.woff') format('woff'),
         url('../fonts/myriadpro-bold-webfont.ttf') format('truetype'),
         url('../fonts/myriadpro-bold-webfont.svg#myriad_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myriad_probold_condensed';
    src: url('../fonts/myriadpro-boldcond-webfont.eot');
    src: url('../fonts/myriadpro-boldcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro-boldcond-webfont.woff') format('woff'),
         url('../fonts/myriadpro-boldcond-webfont.ttf') format('truetype'),
         url('../fonts/myriadpro-boldcond-webfont.svg#myriad_probold_condensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica_neue_lt_pro45_light';
    src: url('../fonts/helveticaneueltpro-lt-webfont.eot');
    src: url('../fonts/helveticaneueltpro-lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneueltpro-lt-webfont.woff') format('woff'),
         url('../fonts/helveticaneueltpro-lt-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneueltpro-lt-webfont.svg#helvetica_neue_lt_pro45_light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica_neue_lt_pro47LtCn';
    src: url('../fonts/helveticaneueltpro-ltcn-webfont.eot');
    src: url('../fonts/helveticaneueltpro-ltcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneueltpro-ltcn-webfont.woff') format('woff'),
         url('../fonts/helveticaneueltpro-ltcn-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneueltpro-ltcn-webfont.svg#helvetica_neue_lt_pro47LtCn') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica_neue_lt_pro47LtCnOb';
    src: url('../fonts/helveticaneueltpro-ltcno-webfont.eot');
    src: url('../fonts/helveticaneueltpro-ltcno-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneueltpro-ltcno-webfont.woff') format('woff'),
         url('../fonts/helveticaneueltpro-ltcno-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneueltpro-ltcno-webfont.svg#helvetica_neue_lt_pro47LtCnOb') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myriad_prosemibold';
    src: url('myriadpro-semibold-webfont.eot');
    src: url('myriadpro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('myriadpro-semibold-webfont.woff') format('woff'),
         url('myriadpro-semibold-webfont.ttf') format('truetype'),
         url('myriadpro-semibold-webfont.svg#myriad_prosemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myriad_prosemibold_italic';
    src: url('myriadpro-semiboldit-webfont.eot');
    src: url('myriadpro-semiboldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('myriadpro-semiboldit-webfont.woff') format('woff'),
         url('myriadpro-semiboldit-webfont.ttf') format('truetype'),
         url('myriadpro-semiboldit-webfont.svg#myriad_prosemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

.myriad-prosemibold {
    font-family: 'myriad_prosemibold', Helvetica, sans-serif;
}

.myriad-prosemibold-ita {
    font-family: 'myriad_prosemibold_italic', Helvetica, sans-serif;
}

.myriad-proconden-ita {
    font-family: 'myriad_procondensed_italic', Helvetica, sans-serif;
}

.myriad-pro-ita {
    font-family: 'myriad_proitalic', Helvetica, sans-serif;
}

.myriad-proregular {
    font-family: 'myriad_proregular', Helvetica, sans-serif;
}

.myriad-proBdCn-ita {
    font-family: 'myriad_proBdCnIt', Helvetica, sans-serif;
}

.myriad-probold-ita {
    font-family: 'myriad_probold_italic', Helvetica, sans-serif;
}

.myriad-procondensed {
    font-family: 'myriad_procondensed', Helvetica, sans-serif;
}

.myriad-problack {
    font-family: 'myriad_problack', Helvetica, sans-serif;
}

.myriad-probold {
    font-family: 'myriad_probold', Helvetica, sans-serif;
}

.myriad-probold-condensed {
    font-family: 'myriad_probold_condensed', Helvetica, sans-serif;
}

.helvetica-pro45-ight {
    font-family: 'helvetica_neue_lt_pro45_light', Helvetica, sans-serif;
}

.helvetica-lt-pro47LtCn {
    font-family: 'helvetica_neue_lt_pro47LtCn', Helvetica, sans-serif;
}

.helvetica-lt-pro47LtCnOb {
    font-family: 'helvetica_neue_lt_pro47LtCnOb', Helvetica, sans-serif;
}