@font-face {
    font-family: 'myriad_proregular';
    src: url('../fonts/myriadpro-regula-webfont.eot');
    src: url('../fonts/myriadpro-regula-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro-regula-webfont.woff') format('woff'),
         url('../fonts/myriadpro-regula-webfont.ttf') format('truetype'),
         url('../fonts/myriadpro-regula-webfont.svg#myriad_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myriad_procondensed';
    src: url('../fonts/myriadpro-con-webfont.eot');
    src: url('../fonts/myriadpro-con-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro-con-webfont.woff') format('woff'),
         url('../fonts/myriadpro-con-webfont.ttf') format('truetype'),
         url('../fonts/myriadpro-con-webfont.svg#myriad_procondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'myriad_probold';
    src: url('../fonts/myriadpro-bold-webfont.eot');
    src: url('../fonts/myriadpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro-bold-webfont.woff') format('woff'),
         url('../fonts/myriadpro-bold-webfont.ttf') format('truetype'),
         url('../fonts/myriadpro-bold-webfont.svg#myriad_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myriad_probold_condensed';
    src: url('../fonts/myriadpro-boldcond-webfont.eot');
    src: url('../fonts/myriadpro-boldcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro-boldcond-webfont.woff') format('woff'),
         url('../fonts/myriadpro-boldcond-webfont.ttf') format('truetype'),
         url('../fonts/myriadpro-boldcond-webfont.svg#myriad_probold_condensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica_neue_lt_com35_thin';
    src: url('../fonts/helvetica-neue-lt-com-35-thin-webfont.eot');
    src: url('../fonts/helvetica-neue-lt-com-35-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica-neue-lt-com-35-thin-webfont.woff') format('woff'),
         url('../fonts/helvetica-neue-lt-com-35-thin-webfont.ttf') format('truetype'),
         url('../fonts/helvetica-neue-lt-com-35-thin-webfont.svg#helvetica_neue_lt_com35_thin') format('svg');
    font-weight: normal;
    font-style: normal;

}

.myriad-proregular {
    font-family: 'myriad_proregular', Helvetica, sans-serif;
}

.myriad-procondensed {
    font-family: 'myriad_procondensed', Helvetica, sans-serif;
}

.myriad-probold {
    font-family: 'myriad_probold', Helvetica, sans-serif;
}

.myriad-probold-condensed {
    font-family: 'myriad_probold_condensed', Helvetica, sans-serif;
}

.helvetica_neue_thin {
    font-family: 'helvetica_neue_lt_com35_thin', Helvetica, sans-serif;
}